## Sprint-5, Challenge

### Car Blue Motors - Manufacturing Problem

##### Reading the file and understanding the data

In [31]:
#Reading CSV file
import numpy as np
import pandas as pd
df = pd.read_csv("car_prices.csv")
df.head(3)

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2002,Ford,F-350 Super Duty,XLT,Crew Cab,NaN,1ftsw31f52ed16477,ca,2.0,NaN,white,gray,laa leasing,7850,1,Thu Feb 05 2015 04:00:00 GMT-0800 (PST)
1,2003,Mercedes-Benz,E-Class,E500,Sedan,automatic,wdbuf70j73a269529,ga,2.1,1.0,black,black,peoples credit company inc,7325,1,Tue Jan 06 2015 09:30:00 GMT-0800 (PST)
2,2014,Ford,E-Series Van,E-250,E-Series Van,automatic,1ftne2ew6eda13643,tx,4.1,31886.0,white,gray,u-haul,20800,1,Thu Feb 12 2015 03:00:00 GMT-0800 (PST)

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558837 entries, 0 to 558836
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          558837 non-null  int64
 1   make          548536 non-null  object
 2   model         548438 non-null  object
 3   trim          548186 non-null  object
 4   body          545642 non-null  object
 5   transmission  493484 non-null  object
 6   vin           558833 non-null  object
 7   state         558836 non-null  object
 8   condition     547043 non-null  float64
 9   odometer      558743 non-null  float64
 10  color         558088 non-null  object
 11  interior      558088 non-null  object
 12  seller        558837 non-null  object
 13  mmr           558837 non-null  int64
 14  sellingprice  558837 non-null  int64
 15  saledate      558812 non-null  object
dtypes: float64(2), int64(3), object(11)
memory usage: 68.2+ MB

In [33]:
#df.shape
#df.describe()
#df.columns
df.isnull().sum()

year                0
make            10301
model           10399
trim            10651
body            13195
transmission    65353
vin                 4
state               1
condition       11794
odometer           94
color             749
interior          749
seller              0
mmr                 0
sellingprice        0
saledate           25
dtype: int64

In [34]:
df.tail(2)

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
558835,2011,Ferrari,458 Italia,Base,coupe,automatic,zff67nfa1b0178698,fl,4.6,12116.0,red,black,platinum motor cars,182000,183000,Wed Jun 17 2015 03:40:00 GMT-0700 (PDT)
558836,2014,Ford,Escape,Titanium,SUV,automatic,1fmcu9j98eua23833,mo,4.3,27802.0,green,tan,ford-lincoln dealer program,22800,230000,Wed Feb 25 2015 02:00:00 GMT-0800 (PST)

### TASK-1

To get the Manufacturer name ('make') of top 5 low priced cars(model) in the year 2014

In [35]:
#To get the details of cars in the year 2014
cars_from_2014 = df[df.year == 2014]
cars_from_2014.head(5)

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
2,2014,Ford,E-Series Van,E-250,E-Series Van,automatic,1ftne2ew6eda13643,tx,4.1,31886.0,white,gray,u-haul,20800,1,Thu Feb 12 2015 03:00:00 GMT-0800 (PST)
6085,2014,Chrysler,200,LX,Sedan,automatic,1c3ccbab7en125253,ca,1.0,16973.0,white,black,enterprise vehicle exchange / tra / rental / t...,11800,500,Thu Jan 22 2015 04:30:00 GMT-0800 (PST)
11475,2014,Ford,Escape,Titanium,SUV,automatic,1fmcu9j94eua96505,nj,4.4,20074.0,red,black,"ford motor credit company,llc",24600,750,Wed Apr 08 2015 02:00:00 GMT-0700 (PDT)
16630,2014,Hyundai,Elantra GT,Base,Hatchback,automatic,kmhd35lh9eu165404,in,2.0,1.0,red,black,enterprise vehicle exchange / tra / rental / t...,15300,1000,Wed Jan 21 2015 04:59:00 GMT-0800 (PST)
16631,2014,Nissan,Versa,1.6 SV,Sedan,automatic,3n1cn7ap1el855595,il,1.9,15091.0,gray,black,nissan motor acceptance corporation,9700,1000,Thu Jan 22 2015 02:00:00 GMT-0800 (PST)

In [36]:
#To sort the selling price of the cars to get top 5 low priced car names along with manufacturer
print("Below are the top 5 low priced car manufacturers in the year 2014")
cars_from_2014.sort_values(by = 'sellingprice', ascending= True)[["year","make","model","sellingprice"]][0:5]

Below are the top 5 low priced car manufacturers in the year 2014

       year      make         model  sellingprice
2      2014      Ford  E-Series Van             1
6085   2014  Chrysler           200           500
11475  2014      Ford        Escape           750
16630  2014   Hyundai    Elantra GT          1000
16631  2014    Nissan         Versa          1000

### TASK-2

To compare the selling price of BMW Cars in 2010 and 2015. \
To check percentage by which average selling price of BMW with good condition ('condition') having more than 4.5 in 2010 is more/less than that of 2015

In [37]:
#To get the BMW Car details in the 2010
BMW_2010_Cars = df[(df.year == 2010)&(df.make == "BMW")]
BMW_2010_Cars.shape

(632, 16)

In [38]:
#To get the BMW Car details in the 2015
BMW_2015_Cars = df[(df.year == 2015)&(df.make == "BMW")]
BMW_2015_Cars.shape

(658, 16)

In [39]:
#To calculate the average selling price of BMW Cars with 'condition' more than 4.5
#2010 BMW Cars:
average_BMW_2010 = BMW_2010_Cars[BMW_2010_Cars["condition"] > 4.5]["sellingprice"].mean()

#2015 BMW Cars:
average_BMW_2015 = BMW_2015_Cars[BMW_2015_Cars["condition"] > 4.5]["sellingprice"].mean()

print("Average selling price of BMW Cars in the year 2010 is: ", average_BMW_2010)
print("Average selling price of BMW Cars in the year 2015 is: ", average_BMW_2015)

Average selling price of BMW Cars in the year 2010 is:  23572.222222222223
Average selling price of BMW Cars in the year 2015 is:  42994.68599033816

In [40]:
#Average selling price of BMW cars with condition more than 4.5 in 2015 is more than 2010
#percentage calculation
percentage_BMW = ((average_BMW_2015 - average_BMW_2010)/ average_BMW_2010)* 100
print(f"Average selling price of BMW cars(with condition more than 4.5) in the year 2015 is {percentage_BMW} percent more than average selling price BMW cars in the year 2010")

Average selling price of BMW cars(with condition more than 4.5) in the year 2015 is 82.39555687628727 percent more than average selling price BMW cars in the year 2010

### TASK-3

To check the difference between average wholesale price(mmr) of cars with black and gray interior colors

In [41]:
#To get the average mmr price of cars with black interior color
average_black_int_cars = df[(df.interior == "black")]["mmr"].mean()
#To get the average mmr price of cars with black interior color
average_gray_int_cars = df[(df.interior == "gray")]["mmr"].mean()

print("Average mmr value of Black interior cars is: ", average_black_int_cars)
print("Average mmr value of Gray interior cars is: ", average_gray_int_cars)

Average mmr value of Black interior cars is:  15858.52005549485
Average mmr value of Gray interior cars is:  11189.776545228522

In [42]:
#Difference 
diff = average_black_int_cars - average_gray_int_cars

print("The interior color of the car does impact the wholesale price")
print(f"Cars having Interior color as Black has {diff}$ difference in Wholesale price than the Gray Interior color cars")
print("Black Interior cars are more preffered than the Gray interior Cars")

The interior color of the car does impact the wholesale price
Cars having Interior color as Black has 4668.743510266328$ difference in Wholesale price than the Gray Interior color cars
Black Interior cars are more preffered than the Gray interior Cars

### TASK-4

To get the color-wise total number of each car manufacturer from 2013 to 2015 in order to determine the color of the cars most people use often

In [43]:
#Getting all the information of cars from the year 2013 to 2015
color_wise_cars = df[(df.year == 2013)|(df.year == 2014)|(df.year == 2015)]
color_wise_cars.shape

(188675, 16)

In [44]:
#Using the cross-tab
colortab_calculation = pd.crosstab([color_wise_cars.make ,color_wise_cars.year], color_wise_cars.color, dropna= True, margins= True, margins_name= "Total")
colortab_calculation

color            beige  black   blue  brown  burgundy  charcoal  gold   gray  \
make       year
Acura      2013      0    106     10      2        14         2     0     63
           2014      0     59      6      3         6         0     0     37
           2015      0      5      3      0         0         0     0      7
Audi       2013      0    213     61      6         0         0     1    103
           2014      2    149     13      4         1         0     0     61
...                ...    ...    ...    ...       ...       ...   ...    ...
volkswagen 2013      0      0      1      0         0         0     0      0
           2014      0      1      0      0         0         0     0      0
vw         2013      0      0      0      0         0         0     0      0
           2014      0      1      0      0         0         0     0      1
Total             1686  35563  13744   2672      2486       187  1744  29464

color            green  lime  ...  orange  pink  purple    red  silver  \
make       year               ...
Acura      2013      0     0  ...       0     0       1      7      31
           2014      1     0  ...       0     0       0      1      28
           2015      0     0  ...       0     0       0      0       2
Audi       2013      0     0  ...       0     0       0     19     128
           2014      0     0  ...       0     0       0     10      40
...                ...   ...  ...     ...   ...     ...    ...     ...
volkswagen 2013      0     0  ...       0     0       0      0       0
           2014      0     0  ...       0     0       0      1       0
vw         2013      0     0  ...       0     0       0      0       0
           2014      0     0  ...       0     0       0      0       0
Total             2096     8  ...     583    29     397  17230   26143

color            turquoise  white  yellow      —   Total
make       year
Acura      2013          0     52       0      3     293
           2014          0     41       0      0     183
           2015          0      5       0      0      22
Audi       2013          0    143       0     34     708
           2014          0    132       0     39     451
...                    ...    ...     ...    ...     ...
volkswagen 2013          0      0       0      0       1
           2014          0      0       0      1       3
vw         2013          0      0       0      4       4
           2014          0      1       0      6       9
Total                   35  40055     262  12801  187560

[121 rows x 21 columns]

In [45]:
colortab_calculation.loc['Total', :].T.sort_values(by = "", ascending= False)[0:2]

year
color
Total  187560
white   40055

White cars are used the most in year from 2013 to 2015

### TASK-5

To count the number of Sales done of SUV bodied cars on 'Fri Dec 19, 2014, 09:00:00 GMT-0800 (PST)' and on 'Thu Jan 15, 2015, 04:30:00 GMT-0800 (PST)' \
And also to find the percentage by which the sale of cars with SUV body has incresed/decreased during that period

In [46]:
#To get the details of SUV bodied Cars sold on 'Fri Dec 19 2014 09:00:00 GMT-0800 (PST)'
car_sale_data1 = df[(df.body == 'SUV')& (df.saledate == 'Fri Dec 19 2014 09:00:00 GMT-0800 (PST)')]
car_sale_count1 = car_sale_data1.shape[0]
print("Count of sold SUV Bodied Cars on Fri Dec 19 2014 09:00:00 GMT-0800 (PST) is: ", car_sale_count1)

Count of sold SUV Bodied Cars on Fri Dec 19 2014 09:00:00 GMT-0800 (PST) is:  569

In [47]:
#To get the details of SUV bodied Cars sold on 'Thu Jan 15 2015 04:30:00 GMT-0800 (PST)'
car_sale_data2 = df[(df.body == 'SUV')& (df.saledate == 'Thu Jan 15 2015 04:30:00 GMT-0800 (PST)')]
car_sale_count2 = car_sale_data2.shape[0]
print("Count of sold SUV Bodied Cars on Thu Jan 15 2015 04:30:00 GMT-0800 (PST) is: ", car_sale_count2)

Count of sold SUV Bodied Cars on Thu Jan 15 2015 04:30:00 GMT-0800 (PST) is:  310

We can see from this that the sales of Cars with SUV body was more on Fri Dec 19 2014 09:00:00 GMT-0800 (PST) than on Thu Jan 15 2015 04:30:00 GMT-0800 (PST)

In [48]:
#To calculate the percentage:
percentage_SUV_sales = ((car_sale_count1 - car_sale_count2)/car_sale_count2)*100
print(f"Sales on Fri Dec 19 2014 09:00:00 GMT-0800 (PST) was more by {percentage_SUV_sales} percent more than sales on Thu Jan 15 2015 04:30:00 GMT-0800 (PST)")

Sales on Fri Dec 19 2014 09:00:00 GMT-0800 (PST) was more by 83.54838709677419 percent more than sales on Thu Jan 15 2015 04:30:00 GMT-0800 (PST)

### TASK-6

To add new column of discount price on cars \
conditions: 
* For 'Ford' and 'Chevrolet'  - 10% Discount
* For other cars - 20% Discount

In [49]:
#adding a empty column called Discount Price
df["Discount Price"] = np.nan

In [50]:
#Storing the index of ford and chevrolet car data
c_index = df[(df.make == 'Ford')|(df.make == 'Chevrolet')].index
c_index

Int64Index([     0,      2,      5,     13,     18,     20,     21,     40,
                45,     50,
            ...
            557601, 557609, 557617, 557809, 558003, 558474, 558482, 558553,
            558721, 558836],
           dtype='int64', length=153751)

In [51]:
#Storing all the other car index
other_index = df[(df.make != 'Ford')&(df.make != 'Chevrolet')].index
other_index

Int64Index([     1,      3,      4,      6,      7,      8,      9,     10,
                11,     12,
            ...
            558826, 558827, 558828, 558829, 558830, 558831, 558832, 558833,
            558834, 558835],
           dtype='int64', length=405086)

In [52]:
#Updating the 10% discount values to the Ford and Chevrolet cars from the index location 'c_index'
# df["Discount Price"].iloc[c_index] = df["Discount Price"].iloc[c_index].fillna(value = {0: (0.9* df.sellingprice)}, axis= 0)
# df["Discount Price"].iloc[c_index]
df.at[c_index, 'Discount Price'] = df.sellingprice - (0.1 * df.sellingprice)  # DataFrame.at()--> we can updated new values in a given column at a provided index value
df.loc[c_index]["Discount Price"]      #only the index value of Ford and Chevrolet is updated

0              0.9
2              0.9
5             90.0
13            90.0
18            90.0
            ...
558474     75825.0
558482     76050.0
558553     79425.0
558721     97380.0
558836    207000.0
Name: Discount Price, Length: 153751, dtype: float64

In [53]:
#Updating the 20% discount values to all the remaining cars from the index location 'other_index'
df.at[other_index, 'Discount Price'] = df.sellingprice - (0.2 * df.sellingprice)
df.loc[other_index]["Discount Price"]

1              0.8
3              0.8
4             80.0
6             80.0
7             80.0
            ...
558831    135200.0
558832    135600.0
558833    137200.0
558834    138400.0
558835    146400.0
Name: Discount Price, Length: 405086, dtype: float64

In [54]:
print("We can check from the below sample data that Ford and Chevrolet are updated with 10% discount value and all others are updated with 20% discout on car values")
df[["make", "sellingprice", "Discount Price"]].sample(10)

We can check from the below sample data that Ford and Chevrolet are updated with 10% discount value and all others are updated with 20% discout on car values

             make  sellingprice  Discount Price
105773     Toyota          5100          4080.0
523485        Ram         28800         23040.0
470550        Kia         22000         17600.0
404687      Lexus         17400         13920.0
160777     Nissan          7900          6320.0
175980  Chevrolet          8500          7650.0
300864       Ford         12800         11520.0
338367       Ford         14200         12780.0
268734        Kia         11800          9440.0
52714    Chrysler          2600          2080.0

### TASK-7

Removing columns 'saledate' and 'vin' from dataframe \
Then checking the missing values in the whole dataframe and filling the cells with appropriate values

In [55]:
#Removing 'saledate' and 'vin' from DateFrame 'df'
df.drop(['saledate', 'vin'], axis= 1, inplace= True)
df.sample(3)

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mmr,sellingprice,Discount Price
298792,2012,Nissan,Altima,2.5 S,Sedan,automatic,fl,3.5,50307.0,black,black,nissan-infiniti lt,11100,12800,10240.0
339820,2012,Kia,Optima,Hybrid,sedan,automatic,fl,4.3,34321.0,white,black,kia motors finance,13250,14200,11360.0
446480,2013,Infiniti,G Sedan,G37 Journey,G Sedan,automatic,ca,3.9,28765.0,white,black,nissan infiniti lt,20600,20000,16000.0

In [56]:
#Checking for missing values in all the columns
df.isnull().sum()

year                  0
make              10301
model             10399
trim              10651
body              13195
transmission      65353
state                 1
condition         11794
odometer             94
color               749
interior            749
seller                0
mmr                   0
sellingprice          0
Discount Price        0
dtype: int64

In [58]:
#Filling the missing values with mode() values in the 'make', 'model', 'trim', 'body', 'transmission', 'state', 'color', 'interior' columns
#Reason: All the above mentioned columns are in Object type (names), we can fill these by most repeated values(by finding the mode())

# Column 'make'
make_mode = df.make.mode()[0]             #df.make.mode()-->returns series. accessing the first value here.
df.make.fillna(make_mode, axis=0, inplace= True)

In [60]:
# Column 'model'
model_mode = df.model.mode()[0]
df.model.fillna(model_mode, axis=0, inplace= True)

In [62]:
# Column 'trim'
trim_mode = df.trim.mode()[0]
df.trim.fillna(trim_mode, axis=0, inplace= True)

In [64]:
# Column 'body'
body_mode = df.body.mode()[0]
df.body.fillna(body_mode, axis=0, inplace=True)

In [65]:
# Column 'transmission'
transmission_mode = df.transmission.mode()[0]
df.transmission.fillna(transmission_mode, axis= 0, inplace=True)

In [68]:
# Column 'state'
state_mode = df.state.mode()[0]
df.state.fillna(state_mode, axis=0, inplace=True)

In [71]:
# Column 'color'
color_mode = df.color.mode()[0]
df.color.fillna(color_mode, axis=0, inplace=True)

In [69]:
# Column 'interior'
interior_mode = df.interior.mode()[0]
df.interior.fillna(interior_mode, axis =0, inplace=True)

In [75]:
#Filling the missing values with mean() values in the 'condition' and 'odometer' columns
#Reason: All the above mentioned columns are in int/float type, we can fill these by mean, median or mode. Here I have used mean.

# Column 'condition'
condition_mean = df.condition.mean()
df.condition.fillna(condition_mean, axis= 0, inplace= True)

In [77]:
# Column 'odometer'
odometer_mean = df.odometer.mean()
df.odometer.fillna(odometer_mean, axis=0, inplace=True)

In [79]:
#We can see from below that there are no Blanks column left
df.isnull().sum()

year              0
make              0
model             0
trim              0
body              0
transmission      0
state             0
condition         0
odometer          0
color             0
interior          0
seller            0
mmr               0
sellingprice      0
Discount Price    0
dtype: int64